
<div class="spinner"  *ngIf="spinerActive">
  <app-spinner></app-spinner>
</div>


<div class="container">
  <button class="btn-exit left" (click)="salirAlHome()"><i class="fa-solid fa-arrow-left"></i></button>
  <!--<button class="btn-exit right" (click)="salirAlHome()"><i class="fa-solid fa-x"></i></button>-->

  <div class="tituloBox">
    <!--Si el box no es null que pinte sus elementos-->
    <h1>Box: {{ boxSeleccionado==null?"":boxSeleccionado.nombre }}  NHC: {{boxSeleccionado==null?"":(boxSeleccionado.paciente==null?"":boxSeleccionado.paciente.numero_historia) }}</h1>
  </div>

  <div class="checkbox-container">
    <div class="centrado">
      <button class="btn btn-primary btnPrimarioAntiguo" (click)="scrollToTareas()">Ver tareas</button>
    </div>
    <div class="centrado">
      <button class="btn btn-primary btnPrimarioAntiguo" id="btnAjustesSeleccionadosID" (click)="ajustesSeleccionados = !ajustesSeleccionados"><i class="fa-solid fa-gear"></i></button>
    </div>
  </div>

  <div *ngIf="ajustesSeleccionados">
    <div class="checkbox-container">
      <div>
        <input type="checkbox" id="temperatura" [(ngModel)]="mostrarGraficaTemperatura" (change)="guardarGraficasSeleccionadas()">
        <label for="temperatura">Temperatura</label>
      </div>
      <div>
        <input type="checkbox" id="humedad" [(ngModel)]="mostrarGraficaHumedad" (change)="guardarGraficasSeleccionadas()">
        <label for="humedad">Humedad</label>
      </div>
      <div>
        <input type="checkbox" id="urinometro" [(ngModel)]="mostrarGraficaUrinometro" (change)="guardarGraficasSeleccionadas()">
        <label for="urinometro">Urinómetro</label>
      </div>
      <div>
        <input type="checkbox" id="glucosa" [(ngModel)]="mostrarGraficaGlucosa" (change)="guardarGraficasSeleccionadas()">
        <label for="glucosa">Glucosa</label>
      </div>
    </div>

    <div class="select-container">
      <input class="custom-input" type="datetime-local" id="dateTimeInput" [(ngModel)]="fechaSeleccionada">
      <button class="btn btn-primary" (click)="mostrarFecha()">Cargar fecha en gráficas</button>
    </div>

    <div class="select-container">
      <app-combobox-pacientes [id_boxSeleccionado]=boxSeleccionado.id!></app-combobox-pacientes>
    </div>

    <div class="select-container">
      <app-combobox-dispositivos [boxSeleccionado]=boxSeleccionado [btn_aniadir]=true></app-combobox-dispositivos>
    </div>

    <div class="select-container">
      <app-combobox-dispositivos [boxSeleccionado]=boxSeleccionado [btn_aniadir]=false></app-combobox-dispositivos>
    </div>
    
  </div>

  <div class="containerCharts" *ngIf="true">
    <!--<div class="rowCharts">
      <div class="chart-container">
        <ag-charts-angular [options]="ejemploGrafica"></ag-charts-angular>
      </div>
      <div class="chart-container">
        <ag-charts-angular [options]="ejemploGrafica"></ag-charts-angular>
      </div>
    </div>-->
    <div class="rowCharts">
      <!--Grafica Temperatura-->
      <div class="chart-container" *ngIf="mostrarGraficaTemperatura">
        <ag-charts-angular [options]="graficaTemperatura"></ag-charts-angular>
      </div>
      <!--Grafica Humedad-->
      <div class="chart-container" *ngIf="mostrarGraficaHumedad">
        <ag-charts-angular [options]="graficaHumedad"></ag-charts-angular>
      </div>
      <!--Graficas Urinometro y Color-->
      <div class="chart-container" *ngIf="mostrarGraficaUrinometro">
        <div class="grafica">
          <ag-charts-angular id="graficaUrinometroId" [options]="graficaUrinometro"></ag-charts-angular>
        </div>
        <div class="colorUrinometro">
          <div [innerHTML]="dataColorParaGraficaUrinometro" class="icon-urinometro"></div>
        </div>
      </div>
      <!--Grafica Glucosa-->
      <div class="chart-container" *ngIf="mostrarGraficaGlucosa">
        <ag-charts-angular [options]="graficaGlucosa"></ag-charts-angular>
      </div>
        
    </div>
  </div> 


  <div>
    <h2 class="tituloBox tituloTareas" id="tituloTareas">Tareas del Box: {{ boxSeleccionado==null?"":boxSeleccionado.nombre }}  NHC: {{boxSeleccionado==null?"":(boxSeleccionado.paciente==null?"":boxSeleccionado.paciente.numero_historia) }}</h2>
    
    <div class="opcionesTablaTareas" *ngIf="true">
      <button class="btn btn-primary btnPrimarioAntiguo" (click)="abrirAddAudioTarea()"><i class="fa-solid fa-plus aniadirTarea"></i> Nuevo Tarea</button>
      <!--<button class="btn btn-primary" (click)="abrirAddTarea()"><i class="fa-solid fa-plus aniadirTarea"></i> Nueva Tarea</button>-->
    </div>
    
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <!-- Iteración sobre cada tarea para mostrarlas en la tabla -->
          <tr *ngFor="let tarea of tareasOrdenadas" class="align-middle cada_tarea">
            <!-- Nombre de la tarea -->
            <td class="task-column" *ngIf="modoEdicion != -1 && tarea.id == modoEdicion">
              <input type="text" id="nombreModificacion" name="nombreModificacion" [(ngModel)]="nombreModificacion" class="form-control">
            </td>
            <td class="task-column" *ngIf="tarea.id != modoEdicion">{{ cargarNombreTarea(tarea) }}</td>
            
            <!-- Prioridad de la tarea -->
            <td class="priority-column" *ngIf="modoEdicion != -1 && tarea.id == modoEdicion">
              <select class="form-select" [(ngModel)]="prioridadModificacion" id="prioridad" name="prioridad" required>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3" selected>Low</option>
              </select>
            </td>
            <td class="priority-column" *ngIf="tarea.id != modoEdicion">
              <div class="d-inline-block rounded-pill p-1"
                   [ngClass]="{
                    'bg-rojo': tarea.prioridad == 1,
                    'bg-naranja': tarea.prioridad == 2,
                    'bg-verde': tarea.prioridad == 3
                  }">
                  {{ tarea.prioridad == 1 ? 'High' : (tarea.prioridad == 2 ? 'Medium' : 'Low') }}
              </div>
            </td>
            
            <!-- Audio de la tarea -->
            <td *ngIf="comprobacionAudioParaTrancripcion(tarea.audio_recordatorio!)" class="audio-column">
              <audio controls>
                <source [src]="tarea.audio_recordatorio" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </td>
            <td *ngIf="!comprobacionAudioParaTrancripcion(tarea.audio_recordatorio!)" class="audio-column">
              <p>Esta tarea no tiene audio asignado</p>
            </td>
            
            <!-- Botón para mostrar la transcripción -->
            <td *ngIf="comprobacionAudioParaTrancripcion(tarea.audio_recordatorio!)" class="action-column-trancripcion">
              <button class="btn btn-primary btnPrimarioAntiguo" (click)="abrirDialogoTranscripcion(tarea.id!)">
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </td>
            <td *ngIf="!comprobacionAudioParaTrancripcion(tarea.audio_recordatorio!)" id="transcripcionBlanco" class="action-column-trancripcion"></td>
            
            <!-- Botón para la modificación -->
            <td class="action-column-modificar">
              <button class="btn btn-primary btnPrimarioAntiguo editarTarea" (click)="modoEdicionTarea(tarea)" *ngIf="modoEdicion == -1">
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button class="btn btn-primary btnPrimarioAntiguo guardarCambios" (click)="guardarCambiosTarea(tarea)" *ngIf="modoEdicion != -1 && tarea.id == modoEdicion">
                <i class="fa-solid fa-check"></i>
              </button>
              <button class="btn btn-secondary btnPrimarioAntiguo cancelarCambios" (click)="cancelarModoEdicionTarea()" *ngIf="modoEdicion != -1 && tarea.id == modoEdicion">
                <i class="fa-solid fa-x"></i>
              </button>
            </td>

            <!-- Botón para eliminar la tarea -->
            <td class="action-column-eliminar">
              <button class="btn btn-danger btnPrimarioAntiguo" (click)="eliminarTarea(tarea.id!)">
                <i class="fa-solid fa-x"></i>
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>





<!--
<audio controls>
    <source src="{{ tarea.audio_recordatorio }}" type="audio/mpeg">
    Tu navegador no soporta la reproducción de audio.
  </audio>
  <button class="btn btn-danger" (click)="eliminarTareaSeleccionada(tarea.id!)">Tarea Delete</button>
-->