<div class="combobox">
    <input type="text" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()" class="combobox-input" (keyup)="onKeyPress($event)" (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)" placeholder="Seleccionar Box" [ngClass]="{'error': showError}">
    <span *ngIf="showError" class="error-text"><i> Nada seleccionado </i></span>
    <button class="btn-exit" (click)="recargarValoresVacios()"><i class="fa-solid fa-xmark"></i></button>
    <div class="combobox-options" *ngIf="!listHidden">
        <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)" [ngClass]="{'selected': i===selectedIndex}">{{item}}</list-item>
    </div>
</div>