.custom-card {
  border: 4px solid purple; /* Borde morado más grueso */
  margin: 2%; /* Espacio alrededor de la card */
  border-radius: 20px;
}

.inner-card {
margin-top: 2%; /* Espacio entre las secciones internas */
border: 2px solid purple; /* Borde de las secciones internas */
border-radius: 40px;
}
.inner-card {
  margin-top: 2%; /* Espacio entre las secciones internas */
  border: 2px solid purple; /* Borde de las secciones internas */
  border-radius: 40px;
  overflow: auto; /* Agrega esta línea para controlar el desbordamiento */
}

.inner-card-body {
display: flex;
justify-content: space-between; /* Para separar los elementos a los extremos */
align-items: center; /* Para centrar los elementos verticalmente */
}

.inner-card-body h5 {
margin: 0; /* Elimina el margen predeterminado del h3 */
}

.inner-card-body h6 {
margin: 0; /* Elimina el margen predeterminado del h4 */
}

.fa-temperature-three-quarters {
  color: rgb(170, 24, 24); /* Cambia el color del icono */
}
.fa-droplet{
  color: rgb(0, 170, 255);
}
.fa-eye-dropper{
  color: rgb(149, 72, 0);
}


/*
--------------------------------
  Estilos de la lista de tareas
--------------------------------
*/

.holder {
  background: #f0efe9;
  min-height: 100vh;
}

.rounded {
  border-radius: 1rem !important;
}

.text-gray {
  color: #aaa;
}

input:checked + label {
  text-decoration: line-through;
  color: #adb5bd;
}

label {
  cursor: pointer;
}

.apuntando {
  cursor: pointer;
}
.apuntando_grafica{
  cursor: pointer;
  max-height: 550px;
}

a {
  text-decoration: none;
}

.form-check-left {
  display: flex;
  align-items: center;
  width: 80%
}

.form-check-label {
  width: 100%;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
}
.iconAddTarea{
  font-size: 24px;
  display: flex;
  align-items: left;
  justify-content: left;
}

@media (min-width: 765px) and (max-width: 1000px) {
  .col-md-3 {
    /* Estilos personalizados para ajustar la apariencia de las cards en ese rango de anchos */
    /* Por ejemplo, podrías ajustar el tamaño del texto, el padding, el margen, etc. */
    width: 33%;
  }
}

/*
--------------------------------
  FIN Estilos de la lista de tareas
--------------------------------
*/

/*
--------------------------------
  Estilos DIALOG
--------------------------------
*/
/* Estilo para redondear las esquinas del diálogo
.customDialogAddTarea {
  border: 2px solid red !important; 
  border-radius: 10px !important;
  
} */
//.customDialogAddTarea .mat-mdc-dialog-surface {
  //border-radius: 10px; /* Cambia este valor según el grado de redondez deseado */
  //border: 2px solid red; /* Cambia el color del borde según tu preferencia */
  
//}
/*
--------------------------------
  FIN Estilos DIALOG
--------------------------------
*/