<div *ngIf="false">
  <button class="btn btn-primary" (click)="obtenerBoxes()" >Peticion GET</button>
  <button (click)="startRecording()" [disabled]="recording">Grabar audio</button>
  <button (click)="stopRecording()" [disabled]="!recording">Detener grabacion</button>
  <button class="btn btn-primary" (click)="movilidadAlmacen()">IR A ALMACEN</button>
</div>


<div class="container-fluid">
  <div class="row overflow-x-auto">
    <div *ngFor="let box of boxes" class="col-md-4">
      <div class="card custom-card" >
        <div class="card-body">
          
          <!-- Sección para el nombre y la historia del paciente -->
          <div class="card inner-card" (click)="infoBox(box)">
            <div class="card-body inner-card-body">
              <h3><i class="fa-solid fa-circle" style="color: #74C0FC;"></i> <i class="fa-solid fa-bed" style="margin-left: 5px;"></i> #{{ box.nombre }}</h3>
              <h4><b>NHC</b> {{ box.paciente.numero_historia }}</h4>
            </div>
          </div>

          <!-- Sección para la información del sensor -->
          <div class="card inner-card" (click)="infoBox(box)">
            <div class="card-body">
              <div *ngFor="let sensor of box.sensores"><!--obtenerSensores(box.id!)-->
                <!--<h4>{{ sensor.nombre }}</h4>
                <p>{{ sensor.tipo }}</p>
                <p>{{ sensor.id_dispositivo_th }}</p>-->
                <div *ngFor="let valor of obtenerUltimosValores(sensor)">
                  <p>{{ valor.id }}</p>
                  <h4><i class="fa-solid fa-temperature-three-quarters" *ngIf="valor.unidades=='ºC'"></i> 
                    <i class="fa-solid fa-droplet" *ngIf="valor.unidades=='%'"></i>
                    {{ valor.valor }} {{ valor.unidades }}</h4>
                </div>
                <p><i class="fa-solid fa-signal"></i> ult. {{ cargaFechaUltimoRegistroSensor(sensor) }}</p>
                <!--
                <div *ngFor="let registro of sensor.registros">
                  <p>{{ registro.id }}</p>
                  <p>{{ registro.valor }}</p>
                  <p>{{ registro.unidades }}</p>
                </div>
                -->
              </div>
            </div>
          </div>

          <!-- Sección para la información de las tareas -->
          <div class="card inner-card">
            <div class="card-body">
              <div class="iconAddTarea">
                <i class="fa-solid fa-plus aniadirTarea" (click)="abrirAddTarea(box)"></i>
              </div>
              <ng-container *ngFor="let tarea of obtenerTareasHigh(box.id!); let last = last">
                <div class="form-check d-flex align-items-center justify-content-between" [class.border-bottom]="!last">
                  <div class="form-check-left">
                    <input class="form-check-input" id="{{ tarea.id }}" type="checkbox">
                    <label class="form-check-label ms-2 flex-grow-1" for="{{ tarea.id }}">
                      <span class="fst-italic pl-1">{{ tarea.nombre }}</span>
                    </label>
                  </div>
                  <span class="badge bg-danger rounded-circle" *ngIf="tarea.prioridad==1">
                    <span class="text-white">high</span>
                  </span>
                  <span class="badge bg-warning rounded-circle" *ngIf="tarea.prioridad==2">
                    <span class="text-white">medium</span>
                  </span>
                  <span class="badge bg-success rounded-circle" *ngIf="tarea.prioridad==3">
                    <span class="text-white">low</span>
                  </span>
                </div>
              </ng-container>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
