<div class="container">
    <h2>Añadir Audio al Box: {{box.nombre}}</h2>
    <div>
      <div class="mb-3">
        <label for="nombreTarea" class="form-label">Nombre del Audio:</label>
        <input type="text" class="form-control" id="nombreTarea" name="nombreTarea" required>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="audioCheckbox" [(ngModel)]="grabarAudio">
        <label class="form-check-label" for="audioCheckbox">
          ¿Grabar audio?
        </label>
      </div>

      <div class="mb-3" *ngIf="grabarAudio">
        <label for="nombreTarea" class="form-label">Grabación de Audio:</label>
        <div class="d-flex align-items-center">
          <button class="btn btn-primary me-2" (click)="startRecording()" [disabled]="recording">Grabar audio</button>
          <button class="btn btn-primary me-2" (click)="stopRecording()" [disabled]="!recording">Pausar grabación</button>
          <i class="fa-solid fa-circle-check" style="color: green;" *ngIf="blobCargado && !recording"></i>
        </div>

        <div *ngIf="recording">
        <label>Grabando audio</label>
        <div >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

        </div>
      </div>
      
      <div class="mb-3">
        <label for="prioridad" class="form-label">Prioridad:</label>
        <select class="form-select" id="prioridad" name="prioridad" required>
          <option value="1">High</option>
          <option value="2">Medium</option>
          <option value="3" selected>Low</option>
        </select>
      </div>
      <div class="mb-3 d-flex flex-column flex-sm-row justify-content-end"> <!-- Utilizamos flexbox y flex-column para alinear los botones verticalmente en dispositivos pequeños -->
        <button type="button" class="btn btn-secondary mb-2 mb-sm-0 me-sm-2" (click)="cancelarCambios()">Cancelar Cambios</button> <!-- Utilizamos mb-2 y mb-sm-0 para agregar un margen inferior en dispositivos pequeños -->
        <button type="submit" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
      </div>
    </div>
  </div>